HTML,BODY {
  height: 100%;
  width: 100%;
}
BODY {
  background: url('../imgs/green_cup.png');
  font-size: 16px;
}
header {
  background: #45423C;
  box-shadow: 0 0 23px rgba(0, 0, 0, .2);
  height: 50px;
  width: 100%;
  margin: 0;
  padding: 0;
}

header h1 {
  margin: 0;
  padding: 10px 0 0 0;
  color: #EFE8B6;
  text-align: center;
}

.wrapper {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.wrapper h1 {
  margin: 0;
}

.wrapper .sidebar .search {
  width: 100%;
  padding: 20px 10px 10px;
  border-bottom: 1px solid #666;
  position: absolute;
  top: 0;
  left: 0;
  background: #888;
}

.wrapper .sidebar {
  background: #888;
  height: 60px;
  border-right: 1px solid #666;
  position: relative;
}

.wrapper .sidebar.open {
  height: 200px;
}

.wrapper .sidebar.open .btn{
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.wrapper .sidebar .team-list {
  padding-top: 80px;
  overflow: scroll;
  height: 100%;
}
.wrapper .sidebar a {
  color: #FFF;
  padding: 0 5px;
  margin-bottom: 10px;
  width: 100%;
  display: block;
  cursor: pointer;
}


.wrapper .content {
  margin: 0;
  padding: 0;
}

@media(min-width: 992px) {
  .wrapper .sidebar {
    min-height: 100%;
  }

  .wrapper .sidebar,
  .wrapper .sidebar.open,
  .wrapper .main {
    min-height: 100%;
  }
}
